# misc
.DS_Store
 
# modules
/node_modules
 
# built package after `npm pack`
/package
 
# cypress
/e2e/1-getting-started
/e2e/2-advanced-examples
 
# coverage and test reports
/allure-results
/allure-report

 